
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- Change the title of the Website for each tab -->
    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand mr-4" href="/">Future Standings</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.about') }}">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('posts.new_post') }}"><span class="	glyphicon glyphicon-edit"></span> New post</a></li>
              <li><a href="{{ url_for('users.register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
              <li><a href="{{ url_for('users.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
              <li><a href="{{ url_for('users.register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
              <li><a href="{{ url_for('users.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- Display flash messages at the top of the main -->
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %} <!-- Check if there is a message to display -->
              {% for category, message in messages %} <!-- Get the text and the category of the message -->
                <div class="alert alert-{{ category }}"> <!-- Display the format of the message -->
                  {{ message }} <!-- Display the message -->
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <!-- Content of the main -->
          {% block content %}{% endblock %}
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3> <!-- Title -->
            <p class='text-muted'>You can put any information here you'd like. <!-- Description -->
              <ul class="list-group"> <!-- Items -->
                <li class="list-group-item list-group-item-light">Latest Posts</li> <!-- Items -->
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>